:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --font-weight-normal: 400;
    --font-size-normal: 16px;
    --font-size-large: 30px;
    --font-size-medium: 24px;
    --font-size-small: 18px;
    --font-color-primary: var(--primary-color);
    --font-color-secondary: #05676e;
    --font-color-tertiary: #489c79;
    --button-padding: 10px;
    --border-radius: 3px;
    --border-width: 2px;
    --border-type: solid;
    --border-color: rgba(0, 0, 0, 0.3);
}

a {
    color: var(--font-color-primary);
}

body {
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal);
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: var(--font-size-large);
    font-weight: 700;
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: 700;
}

h3 {
    font-size: var(--font-size-small);
    font-weight: 700;
}

a {
    color: var(--font-color-primary);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:visited {
    color: var(--font-color-secondary);
}

a:active {
    color: var(--font-color-tertiary);
}

button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border-bottom: var(--border-width) var(--border-type) var(--border-color);
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    margin: 20px;
}

.logo {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: Left;
    width: 40%;
    max-width: 120px; /* set a maximum width for the logo */
    height: auto;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: var(--font-size-medium);
    }
}

.button,
button {
    /* overwrites browser defaults */

    /* resets the border */

    border: none;
    display: inline-block;

    /* takes the font from the outer container */

    font-family: inherit;

    /* style button */

    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: var(--button-padding);
    border-radius: var(--border-radius);

    /* width of the border, type, color */

    border-bottom: var(--border-width) var(--border-type) var(--border-color);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;

    /* reduces the opacity of the button to 80% */

    opacity: 0.8;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 24px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.about-list,
.contact-list {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.about-text {
    list-style: none;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#work-header {
    margin: 0 auto;
}